# ignore output folders
bin/
build/
cake/
obj/
packages/
ipch/
release/
*.nuspec

# ignore user-specific options/cache files
.vs/
Thumbs.db
*.cache
*.user
*.opensdf
*.sdf
*.suo
*.userprefs
*.ncrunchproject
*.ncrunchsolution
nCrunchTemp*
launchSettings.json
