# ignore output folders
bin/
build/
cake/
obj/
ipch/
release/
tools/

# ignore output files
OurMessages*.resources
OurResources*.resources

# ignore user-specific options/cache files
.vs/
Thumbs.db
*.cache
*.user
*.opensdf
*.sdf
*.suo
*.userprefs
*.ncrunchproject
*.ncrunchsolution
